<!-- component -->
<div class="w-full h-screen mt-100 transparent" id="contact">
  <svg
    class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc"
        width="200"
        height="200"
        x="50%"
        y="-1"
        patternUnits="userSpaceOnUse"
      >
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path
        d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
        stroke-width="0"
      />
    </svg>
    <rect
      width="100%"
      height="100%"
      stroke-width="0"
      fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)"
    />
  </svg>
  <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mb-12">
    <div class="bg-gray-800 w-full shadow rounded p-8 sm:p-12 -mt-72">
      <p class="text-3xl font-bold leading-7 text-center text-white">
        Contact me
      </p>
      <form [formGroup]="contactForm">
        <div class="md:flex items-center mt-12">
          <div class="w-full md:w-1/2 flex flex-col">
            <label class="font-semibold leading-none text-gray-300">Name</label>
            <input
              type="text"
              class="leading-none text-gray-500 p-3 focus:outline-none focus:ring-2 focus:ring-blue-700 mt-4 border-0 bg-gray-900 rounded"
              placeholder="Name"
              formControlName="name"
              [ngClass]="{
                'is-invalid ':
                  hasErrors('name', 'required') || hasErrors('name', 'name')
              }"
            />
            @if (hasErrors('name','required')) {

            <span class="text-red-500 font-sans"
              >"Name should not be empty"</span
            >
            }
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <label class="font-semibold leading-none text-gray-300"
              >Lastname</label
            >
            <input
              type="email"
              class="leading-none text-gray-500 p-3 focus:outline-none focus:ring-2 focus:ring-blue-700 mt-4 border-0 bg-gray-900 rounded"
              placeholder="Lastname"
              formControlName="lastname"
              [ngClass]="{
                'is-invalid ':
                  hasErrors('lastname', 'required') ||
                  hasErrors('lastname', 'lastname')
              }"
            />
            @if (hasErrors('lastname','required')) {

            <span class="text-red-500 font-sans"
              >"Lastname should not be empty"</span
            >
            }
          </div>
        </div>
        <div class="md:flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-300"
              >Email</label
            >
            <input
              type="text"
              class="leading-none text-gray-500 p-3 focus:outline-none focus:ring-2 focus:ring-blue-700 mt-4 border-0 bg-gray-900 rounded"
              placeholder="Email"
              formControlName="email"
              [ngClass]="{
                'is-invalid ':
                  hasErrors('email', 'required') || hasErrors('email', 'email')
              }"
            />
            @if (hasErrors('email','required')) {

            <span class="text-red-500 font-sans"
              >"Email should not be empty"</span
            >
            }
          </div>
        </div>
        <div class="md:flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-300"
              >Phone</label
            >
            <input
              type="text"
              class="leading-none text-gray-500 p-3 focus:outline-none focus:ring-2 focus:ring-blue-700 mt-4 border-0 bg-gray-900 rounded"
              placeholder="Phone"
              formControlName="phone"
              [ngClass]="{
                'is-invalid ':
                  hasErrors('phone', 'required') || hasErrors('phone', 'phone')
              }"
            />
            @if (hasErrors('phone','required')) {

            <span class="text-red-500 font-sans"
              >"Phone should not be empty"</span
            >
            }
          </div>
        </div>
        <div>
          <div class="w-full flex flex-col mt-8">
            <label class="font-semibold leading-none text-gray-300"
              >Message</label
            >
            <textarea
              type="text"
              class="h-40 text-base leading-none text-gray-500 p-3 focus:outline-none focus:ring-2 focus:ring-blue-700 mt-4 bg-gray-900 border-0 rounded"
              placeholder="Insert your message here ....."
              formControlName="message"
            ></textarea>
            @if (hasErrors('message','required')) {
            <span class="text-red-500 font-sans"
              >Message should not be empty</span
            >
            } @if (hasErrors('message','minlength')) {
            <span class="text-red-500 font-sans"
              >Message must be at least 10 characters</span
            >
            }
          </div>
        </div>
        <!-- <app-loading/> -->
        <div *ngIf="loading" class="text-center">
          <div class="inline-flex items-center justify-center">
            <svg
              class="animate-spin -ml-1 mr-3 h-8 w-8 text-indigo-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <span class="text-lg font-medium text-gray-700">Sending...</span>
          </div>
        </div>
        <div class="flex items-center justify-center w-full">
          <button
            class="mt-9 font-semibold leading-none text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none"
            (click)="contactMe()"
            *ngIf="!loading"
          >
            Send message
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
