<main>
    <section>
        <header>
            <img src="" alt="logo_image">
            <ul>
                <li>Products</li>
                <li>Services</li>
                <li>About</li>
                <li>FAQ</li>
                <li>Support</li>
            </ul>
            <a href=""></a>
            
        </header>
    </section>
    <section>
        <h1>Reikos'LLC siempre al dia con el cliente</h1>
        <h4>Reikos'LLC es una empresa dedicada a brindar diferentes servicios como son : Transporte , Almacenamiento y Acompañamiento</h4>
        <img src="" alt="Image_Reiko'LLC">
        <div>
            <img src="" alt="Imagen_Transporte">
            <img src="" alt="Imagen_Almacenamiento">
            <img src="" alt="Imagen_Acompañamiento">
        </div>
    </section>

</main>