<!-- HERO BACKGROUND -->
<section class="relative">
  <div class="top-0 left-0 w-full h-[60vh] -z-10">
    <swiper-container init="false" class="absolute inset-0 w-full h-full">
      <swiper-slide
        ><img src="/storage-img-1.png" class="w-full h-full object-cover"
      /></swiper-slide>
      <swiper-slide
        ><img src="/storage-img-2.png" class="w-full h-full object-cover"
      /></swiper-slide>
      <swiper-slide
        ><img src="/storage-img-3.png" class="w-full h-full object-cover"
      /></swiper-slide>
    </swiper-container>
    <div class="absolute inset-0 bg-black/60 z-10 pointer-events-none"></div>
  </div>
</section>