<div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- Heading start -->
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2
        class="mt-20 text-center text-5xl font-bold tracking-tight text-white sm:text-6xl"
      >
        SERVICES
      </h2>
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 60"
        style="margin: 0 auto; height: 35px"
        xml:space="preserve"
      >
        <circle
          cx="50.1"
          cy="30.4"
          r="5"
          class="stroke-primary"
          style="fill: transparent; stroke-width: 2; stroke-miterlimit: 10"
        ></circle>
        <line
          x1="55.1"
          y1="30.4"
          x2="100"
          y2="30.4"
          class="stroke-primary"
          style="stroke-width: 2; stroke-miterlimit: 10"
        ></line>
        <line
          x1="45.1"
          y1="30.4"
          x2="0"
          y2="30.4"
          class="stroke-primary"
          style="stroke-width: 2; stroke-miterlimit: 10"
        ></line>
      </svg>
      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">
        Our services create happy customers and employees. We provide the security and efficiency needed for your market's growth.
      </p>
    </header>
    <!-- End heading -->
    <!-- row -->
    <div class="flex flex-wrap flex-row -mx-4 text-center">
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-800 border-b rounded-md border-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="3rem"
              height="3rem"
              fill="currentColor"
              class="bi bi-bus-front"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v1a1 1 0 0 1-1 1h-1v-1h-2v1H7a1 1 0 0 1-1-1v-1a2 2 0 0 1-2-2V2Zm1 0v1h8V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1ZM4 4v5h8V4H4Zm0 7v1a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-1H4Zm1.5 2a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1Zm5 0a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1Z"
              />
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">
            Transport
          </h3>
          <p class="text-gray-500">
            Efficient and reliable transportation solutions for your business
            needs, ensuring safe and timely delivery every time.
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-800 border-b rounded-md border-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="3rem"
              height="3rem"
              fill="currentColor"
              class="bi bi-box-seam"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.186 1.113a.5.5 0 0 0-.372 0l-6.5 2.6A.5.5 0 0 0 1 4.186V11.5a.5.5 0 0 0 .314.464l6.5 2.6a.5.5 0 0 0 .372 0l6.5-2.6A.5.5 0 0 0 15 11.5V4.186a.5.5 0 0 0-.314-.473l-6.5-2.6ZM8 2.07 13.481 4.5 8 6.93 2.519 4.5 8 2.07ZM2 5.383l5.5 2.2v6.515L2 11.898V5.383Zm6.5 8.715V7.583l5.5-2.2v6.515l-5.5 2.2Z"
              />
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">
            Storage
          </h3>
          <p class="text-gray-500">
            Warehouses for storing cargo, merchandise, and personal assets for
            businesses or individuals, even if they are not intended to be
            transported.
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".3s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-800 border-b rounded-md border-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="3rem"
              height="3rem"
              fill="currentColor"
              class="bi bi-people"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 7a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm5 0a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1Zm15-1c0 1-1 1-1 1h-3s-1 0-1-1 1-4 5-4 5 3 5 4Z"
              />
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">
            Accompaniment
          </h3>
          <p class="text-gray-500">
            Caring for and accompanying elderly people, providing assistance,
            preparing food, cleaning their homes, washing clothes . 
          </p>
        </div>
        <!-- end service block -->
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
