<div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- Heading start -->
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2
        class="mt-20 text-center text-5xl font-bold tracking-tight text-white sm:text-6xl"
      >
        SERVICES
      </h2>
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 60"
        style="margin: 0 auto; height: 35px"
        xml:space="preserve"
      >
        <circle
          cx="50.1"
          cy="30.4"
          r="5"
          class="stroke-primary"
          style="fill: transparent; stroke-width: 2; stroke-miterlimit: 10"
        ></circle>
        <line
          x1="55.1"
          y1="30.4"
          x2="100"
          y2="30.4"
          class="stroke-primary"
          style="stroke-width: 2; stroke-miterlimit: 10"
        ></line>
        <line
          x1="45.1"
          y1="30.4"
          x2="0"
          y2="30.4"
          class="stroke-primary"
          style="stroke-width: 2; stroke-miterlimit: 10"
        ></line>
      </svg>
      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">
        Our services create happy customers and employees. We provide the
        security and efficiency needed for your market's growth.
      </p>
    </header>
    <!-- End heading -->
    <!-- row -->
    <div class="flex flex-wrap justify-center -mx-4 text-center">
      <div
        class="shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service transport -->
        <div
          routerLink="transport"
          class="py-8 px-12 mb-12 bg-gray-800 border-b rounded-md border-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="3rem"
              height="3rem"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
              />
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">
            Transport
          </h3>
          <p class="text-gray-500">
            Reliable end-to-end transportation solutions. We ensure your goods
            reach their destination safely and on time, anywhere in the world.
          </p>
        </div>
        <!-- end service transport -->
      </div>
      <div
        class="shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service storage -->
        <div
          routerLink="storage"
          class="py-8 px-12 mb-12 bg-gray-800 border-b rounded-md border-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="3rem"
              height="3rem"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M14.5 14a.5.5 0 0 0 .5-.5V3.857a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V13.5a.5.5 0 0 0 .5.5h3zM10 13.5V3.857a1.5 1.5 0 0 1 1.5-1.5h3A1.5 1.5 0 0 1 16 3.857V13.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 10 13.5zM2 3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2zM0 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm8 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zM8.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zM8 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">
            Storage
          </h3>
          <p class="text-gray-500">
            Warehouses for storing cargo, merchandise, and personal assets for
            businesses or individuals, even if they are not intended to be
            transported.
          </p>
        </div>
        <!-- end service storage -->
      </div>
      <div
        class="shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".3s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <!-- Logistic service -->
        <div
          routerLink="logistic"
          class="py-8 px-12 mb-12 bg-gray-800 border-b rounded-md border-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="3rem"
              height="3rem"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"
              />
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">
            Logistic
          </h3>
          <p class="text-gray-500">
            Smart storage and fulfillment services. Optimize your supply chain
            with real-time tracking and professional handling of your inventory.
          </p>
        </div>
        <!-- end service block -->
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
